.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button{
    margin-bottom:20px;
}

.pokemon{
    width: 80px;
    color:white;
    display:none;
    background-color: #e7c859;
    border:#d0b349 2px solid;
    border-radius: 10px;
    text-align: center;
}

.pokemon img{
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.pokemon p{
    font-size: 8px;
}

